# Ignore at root
.DS_Store
.idea
.vscode
/.fleet
/.nova
/.zed
/vendor

# Backend specific (moved from original root)
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/auth.json
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor

# Frontend specific (future)
frontend/node_modules
frontend/dist

# Others
Homestead.json
Homestead.yaml
Thumbs.db
*.log
